.card-down {
    padding-top: 22px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid;
    box-shadow: 5px 5px #08697c;
    background-color: #0c87a0;
    border-color: #097489;

    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

.card-flipped {
    padding-top: 22px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid;
    box-shadow: 5px 5px #08697c;
    background-color: white;
}

.card-locked {
    padding-top: 22px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid;
    box-shadow: 5px 5px #08697c;
    background-color: #0fbf49;

    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

.card-down:hover {
    background-color: #0a96b2;
}

.gotcha {
    position: absolute;
    left: 24px;
    top: -36px;
}

.won {
    display: none;
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 97%;
}

.won-circle {
    background-color: #fff200;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    padding-top: 2%;
    padding-bottom: 4%;
    
    -webkit-animation: rotation 8s infinite linear;

    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }